@model IEnumerable<CoreMVC.Models.Product>
@{
    ViewData["Title"] = "Index";
}
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Mark
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>